

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1504952763299-66ca4fcb05b3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1567&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App { 
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  height: 100%;
  min-height: 100vh;
}

.main-banner h1 {
  font-size: 120px;
  margin: 0;
}

.main-banner{  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.quote {
  font-weight: 800;
  font-style: italic;
  color: black;
}

.quote_source{
  color: black;
}

.quoteBox {
  position: relative;
  max-width: 1200px;
  padding: 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  overflow: scroll;
 
}


.quoteBox:before{
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: url('https://images.unsplash.com/photo-1504952763299-66ca4fcb05b3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1567&q=80');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(4px);
}

.quoteBox h3, p {
  position: relative;
  margin: 0 0 20px;
  padding: 0;
  z-index: 2;
}

section #profileContentArea {
  padding: 5px 10px;
  color: #000;
  background-color: #ffffff;
}
#profileImgArea{
  position: relative;
  padding: 0;
  z-index: 2;
  filter: none;
}

#aboutView {
  color: black;
}

#aboutView section {
    padding: 5px 10px;
}

#aboutView li {
  list-style-type: none;
  padding-top: 5px;
}
#aboutView ul{
  padding: 0;
  margin-top: 0;
  z-index: 2;
  filter: none;
  
}
#aboutView a {
  text-decoration: underline;
}
.articleView, .relationshipCard {
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  overflow: hidden;
  position:relative;
}

.articleView:before, .relationshipCard:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: url('https://images.unsplash.com/photo-1504952763299-66ca4fcb05b3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1567&q=80');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(4px);
}

.articleView, .relationshipCard form, input, textarea, select, button, label, img, h1,h2,h3,p {
    position: relative;
    padding: 0;
    z-index: 2;
    filter: none;
}
.cardContent {
  background-color: #ffffff;
  background-image: none;
  color: #000;
}
.groupHeader {
  width: 100%;
}

.relationshipCard:before {
  background-image: none;
}
.relationshipCard {
  min-height: 300px;
  background-color: #ffffff;
}

.profileView:before{
  background-image: none;
}
.profileView{
  background-color:#ffffff;
}
button { 
  margin: 10px 5px;
  padding: 10px;
  
}

textarea {
  min-width: 80%;
  overflow: auto;
  min-height: 200px;
  padding: 5px;
}

.articleView select, input {
  min-width: 50%;
  padding: 5px;
}
em {
  font-weight: 700;
}

footer {
  flex-shrink: 0;
}

@media all and (min-width: 500px){
  .quoteBox {
    overflow: hidden;
  }
}